/*	
	Author Name	: Konstantin Dankov
	Author Site	: http://dankov.name
	Skin Name	: ib_Default
	Version		: 0.1
	Tags		: white, minimalistic
	Comments	:
*/

/* --- Styles for the popup and the overlay ----------------------- */
#ib_overlay { background: #FFF; opacity: 0.7; }


#ib_box { background: #FFF; padding: 10px; border: 1px solid #CCC; overflow: visible; }
#ib_box #ib_image {  }
#ib_box #ib_inner {  }

#ib_box h4 { line-height: 1em; font-weight: bold; padding: 5px 0; }
#ib_box p { }

#ib_box #ib_info { display: none; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.5); padding: 10px; }
#ib_box #ib_close { width: 20px; height: 20px; position: absolute; top: -18px; left: -18px; text-indent: -1920px; background: url(close.png) center no-repeat; }

#ib_box, #ib_image {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}